---
---

@import "{{ site.theme }}";

ul.nav {
  padding-left: 0;
  list-style: none;
}
ul.nav li {
  display: inline;
  padding-right: 1em;
}
ul.nav a {
  color: #222222;
  text-decoration: underline;
}
#header_wrap {
  background: url(/assets/img/sempre_ccgb.jpg) bottom center no-repeat;
  background-size: cover;
}
